html {

    background: aliceblue ; 
}


h1, h5 { 
    background:aliceblue; 
    margin: 0;
    margin-bottom: 3px;
}

.jumbotron { 
    margin: 0 auto ; 
    width: 90%
}

input {
    width: 100%;
}

#texto_output { 
    cursor: default;
}